.popularFilmsComponent {
    padding: 40px 0;
}

.popularFilmsComponent h2 {
    color: #151515;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin: 5px 0 40px 0;
    color: #ececec;

}

.popularFilmsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width:400px) {
    .popularFilmsComponent h2 {
        font-size: 26px;
    }

}