.GenerItem {
    margin: 30px 20px;
    padding: 0 20px;
    height: 100px;
    background-color: #ececec;
    border: 1px solid #080808;
    border-radius: 20px;
    font-size: 30px;
    line-height: 100px;
}

.GenerItem a {
    color: #080808;
}

.GenerItem a:hover {
    color: #ff8b00;
}

.GenerContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}

@media(max-width: 550px) {
    .GenerItem {
        margin: 10px;
        padding: 0 20px;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
    }
}