
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ------------------------- */

.header {
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0 10px;
}

.headerBody {
    display: flex;
    justify-content: space-between;
}

.headerNav {
    display: flex;
}

.headerLogo {
    letter-spacing: 1px;
    display: flex;
    font-size: 30px;
    margin: 0 60px 0 0;
    color: #ececec;
    line-height: 80px;
}

.headerLogo img {
    height: 80px;
    pointer-events: none;
    margin: 0 -10px;
}

.headerLogo span {
    color: #ff8b00;
}


.headerList {
    display: flex;
}

.headerList li {
    margin: 0 0 0 60px;
}

.headerLink {
    letter-spacing: 1px;
    font-size: 17px;
    color: #ececec;
    line-height: 80px;
}

.headerLink:hover, .headerLink:focus {
    color: #ff8b00;
}

.searchImg {
    height: 20px;
    vertical-align: middle;
    margin: 0 7px 0 0;
}

.headerBurger {
    display: none;
}

@media (max-width: 1000px) {
    body.lock {
        overflow: hidden;
    }

    .headerLogo img {
        height: 50px;
    }

    .headerLogo {
        line-height: 50px;
        z-index: 1;
        margin: 0 0 0 0;
        font-size: 24px;
    }

    .headerBurger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        margin: 15px 0;
    }

    .headerBurger span {
        background-color: #ececec;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .headerBurger:before,
    .headerBurger:after {
        content: "";
        background-color: #ececec;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .headerBurger:before {
        top: 0;
    }
    .headerBurger:after {
        bottom: 0;
    }

    .headerBurger.active span {
        transform: scale(0);
    }

    .headerBurger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .headerBurger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .headerMenu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #080808;
    }

    .headerMenu.active {
        top: 0;
    }

    .headerList {
        margin: 60px 0 0 0;
        display: block;
        text-align: center;
    }

    .headerLink {
        font-size: 22px;
    }

    .headerList li {
        margin: 0 0 0 0;
    }
}