.header {
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3px 10px;
    z-index: 10;
}

.headerBody {
    display: flex;
    justify-content: space-between;
}

/* ================================= */
.headerRight {
    /* width: 100%; */
}
/* ================================= */


.headerLeft {
    display: flex;
}

.headerLogo {
    letter-spacing: 1px;
    display: flex;
    font-size: 30px;
    margin: 0 60px 0 0;
    color: #ececec;
    line-height: 70px;
}

.headerLogo img {
    height: 70px;
    margin: 0 10px 0 0;
}

.headerLogo span {
    color: #ff8b00;
}

.headerList {
    display: flex;
}

.headerList li {
    margin: 0 0 0 60px;
}

.headerLink {
    letter-spacing: 1px;
    font-size: 17px;
    color: #ececec;
    line-height: 70px;
}

.headerLink:hover {
    color: #ff8b00;
}

.headerBurger {
    display: none;
}

.headerSearch {
    display: flex;
    justify-content: flex-end;
}

.btnSearch {
    display: flex;
    background-color: transparent;
    line-height: 70px;
    align-items: center;
}

.btnSearch img {
    height: 20px;
}

.btnSearch p {
    margin: 0 10px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #ececec;
}

.btnSearch p:hover {
    color: #ff8b00;
}


@media (max-width: 820px) {
    body.lock {
        overflow: hidden;
    }

    .closeSearch img {
        height: 34px;
        margin: 8px 0 8px 20px;
    }

    .headerLogo img {
        height: 50px;
    }

    .btnSearch {
        line-height: 50px;
    }

    .headerLogo {
        line-height: 50px;
        z-index: 1;
        margin: 0 0 0 0;
        font-size: 24px;
    }

    .btnSearch p {
        display: none;
    }


    .headerBurger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        margin: 15px 0 15px 20px;
    }

    .headerBurger span {
        background-color: #ececec;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .headerBurger:before,
    .headerBurger:after {
        content: "";
        background-color: #ececec;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .headerBurger:before {
        top: 0;
    }
    .headerBurger:after {
        bottom: 0;
    }

    .headerBurger.active span {
        transform: scale(0);
    }

    .headerBurger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .headerBurger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .headerMenu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #080808;
    }

    .headerMenu.active {
        top: 0;
    }

    .headerList {
        margin: 60px 0 0 0;
        display: block;
        text-align: center;
    }

    .headerLink {
        font-size: 22px;
    }

    .headerList li {
        margin: 0 0 0 0;
    }
}