@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footer {
    background-color: #151515;
    text-align: center;
    padding: 30px 0;
}

.footerBody h2 {
    letter-spacing: 1px;
    font-size: 30px;
    color: #ececec;
    margin: 0 0 0 0;
}

.contacts img {
    max-width: 80px;
}

.contacts {
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
}

.realContactItem {
    text-align: left;
    margin: 0 60px 0 0;
}

.realContactItem span {
    letter-spacing: 1px;
    font-size: 18px;
    color: #ececec;
    margin: 0 0 0 10px;
    line-height: 70px;
}

.realContact img {
    height: 70px;
}

.social img {
    height: 60px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialItem {
    margin: 0 0 0 40px;
}

@media (max-width: 1000px) {
    .realContact img {
        height: 50px;
    }
    
    .social img {
        height: 40px;
    }

    .realContactItem span {
        font-size: 14px;
        line-height: 50px;
    }

    .contacts {
        display: block;
    }
    
    .realContactItem {
        margin: 0 0 0 0;
    }

    .realContact{
        display: inline-block;
        margin: 10px auto 20px;
    }

    .socialItem:first-child {
        margin: 0 0 0 0;
    }

    .footerBody h2 {
        font-size: 24px;
    }

}